{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page-contain">

        <!-- Main content -->
        <div id="main-content" class="main-content">

            <!-- Block 01: Main slide block-->
            {% include 'includes/home_main_slide_block.html' %}

            <!-- Block 02: Grid Banners-->
{#            {% include 'includes/home_grid_banners_block.html' %}#}

            <!-- Block 03: Product Tab-->
{#            {% include 'includes/home_product_tab_block.html' with position='upper'%}#}

            <!-- Block 04: Banners-->
{#            {% include 'includes/home_banners_block.html' %}#}

            <!-- Block 05: Banner Promotion-->
{#            {% include 'includes/home_banner_promotion_block.html' %}#}

            <!-- Block 06: Product Tab-->
{#            {% include 'includes/home_product_tab_block.html' with position='bottom' %}#}

            <!-- Block 07: Blog posts-->
{#            {% include 'includes/home_blog_posts_block.html' %}#}

            <!-- Block 08: Advance Product-->
{#            {% include 'includes/home_advance_product_block.html' %}#}


            <!-- Block 09: Instagram-->
{#            {% include 'includes/home_instagram_block.html' %}#}


            <!-- Block 10: Brands-->
{#            {% include 'includes/home_brands_block.html' %}#}

        </div>

    </div>
{% endblock %}