{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container privacy-container text-justify bg-white">
    <div class="col d-flex flex-column align-items-center mt-3">
        <h1 class="title-font text-blue">RETURNS</h1>
        <hr class="w-50 text-center mb-1">
    </div>

    <p>When shopping at Performance Footwear, you can return unworn items with tags still attached within 30 days of purchase.</p>

    <h3>HOW TO RETURN</h3>
    <p>Returns are free!!</p>
        
    <h2>FAQ</h2>
    <h3>How to return an order on Performance Footwear?</h3>
    <p>Performance Footwear customers can return orders by simply posting them back with a free label provided by us. Please see our return instructions for more information.</p>
        
    <h3>Can I return a defective or faulty item?</h3>
    <p>You may return defective or faulty merchandise with valid proof of purchase within two years from the date of online purchase.</p>
        
    <p>If you have a potentially defective or faulty item and it was delivered within 30 days of purchase, it has a standard return option that suits you best. After 30 days you will need to contact us to begin the return process.</p>
</div>
{% endblock %}