DEBUG: Enables or disables debug mode.
DEBUG = True

DEVELOPMENT: Indicates whether the environment is for development.
DEVELOPMENT = True

USE_STORAGE: Specifies whether to use external storage.
USE_STORAGE = True

USE_DATABASE: Determines if a database should be used.
USE_DATABASE = True

LANGUAGE_CODE: Sets the default language for the application.
LANGUAGE_CODE = 'en-us'

SITE_ID: The ID of the current site in a multi-site setup.
SITE_ID = 1

DJANGO_SECRET_KEY: A secret key for a particular Django installation.
DJANGO_SECRET_KEY = 'your-secret-key'

DATABASE_NAME: The name of the database.
DATABASE_NAME = 'mydatabase'

DATABASE_USER: The user that accesses the database.
DATABASE_USER = 'dbuser'

DATABASE_PASSWORD: The password for the database user.
DATABASE_PASSWORD = 'password'

DATABASE_HOST: The host of the database.
DATABASE_HOST = 'localhost'

DATABASE_PORT: The port on which the database is running.
DATABASE_PORT = '5432'

ALLOWED_HOSTS: A list of strings representing the host/domain names that this Django site can serve.
ALLOWED_HOSTS = ".example.host.net;.example.host.com"

CSRF_TRUSTED_ORIGINS: A list of trusted origins for Cross Site Request Forgery protection.
CSRF_TRUSTED_ORIGINS = "https://example1.com;https://example2.com"

STRIPE_PUBLIC_KEY: Public key for Stripe payments.
STRIPE_PUBLIC_KEY = 'your-stripe-public-key'

STRIPE_SECRET_KEY: Secret key for Stripe payments.
STRIPE_SECRET_KEY = 'your-stripe-secret-key'

STRIPE_WH_SECRET: Webhook secret key for Stripe.
STRIPE_WH_SECRET = 'your-stripe-webhook-secret'

AWS_STORAGE_BUCKET_NAME: Name of the AWS S3 bucket.
AWS_STORAGE_BUCKET_NAME = 'your-bucket-name'

AWS_S3_REGION_NAME: AWS S3 region.
AWS_S3_REGION_NAME = 'us-west-2'

AWS_ACCESS_KEY_ID: AWS access key ID.
AWS_ACCESS_KEY_ID = 'your-access-key-id'

AWS_SECRET_ACCESS_KEY: AWS secret access key.
AWS_SECRET_ACCESS_KEY = 'your-secret-access-key'

EMAIL_HOST: The email backend host.
EMAIL_HOST = 'smtp.example.com'

EMAIL_PORT: The port used by the email backend.
EMAIL_PORT = 587

EMAIL_HOST_USER: Username for the email backend.
EMAIL_HOST_USER = 'user@example.com'

EMAIL_HOST_PASSWORD: Password for the email backend user.
EMAIL_HOST_PASSWORD = 'email-password'

DEFAULT_FROM_EMAIL: Default email address to use for various automated correspondence.
DEFAULT_FROM_EMAIL = 'webmaster@localhost'