asgiref==3.8.1
astroid==4.0.0a0
asttokens==3.0.0
black==25.1.0
bleach==6.2.0
boto3==1.36.18
botocore==1.36.18
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudinary==1.42.2
colorama==0.4.6
crispy-bootstrap5==2024.10
decorator==5.1.1
dill==0.3.9
Django==4.2.19
django-allauth==65.4.1
django-appconf==1.0.6
django-cloudinary-storage==0.3.0
django-cookie-consent==0.6.0
django-countries==7.6.1
django-crispy-forms==2.3
django-humanize==0.1.2
django-storages==1.14.4
django-summernote==0.8.20.0
executing==2.2.0
gunicorn==23.0.0
humanize==4.11.0
idna==3.10
ipython==8.32.0
jedi==0.19.2
jmespath==1.0.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mypy==1.15.0
mypy-extensions==1.0.0
packaging==24.2
parso==0.8.4
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
psycopg2==2.9.10
pure_eval==0.2.3
Pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
s3transfer==0.11.2
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.3
stack-data==0.6.3
stripe==11.6.0b1
tomlkit==0.13.2
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wcwidth==0.2.13
webencodings==0.5.1
