asgiref==3.8.1
black==24.10.0
boto3==1.35.49
botocore==1.35.49
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloudinary==1.41.0
colorama==0.4.6
crispy-bootstrap5==2024.10
Django==4.2.16
django-allauth==65.1.0
django-cloudinary-storage==0.3.0
django-countries==7.6.1
django-crispy-forms==2.3
django-humanize==0.1.2
django-storages==1.14.4
gunicorn==23.0.0
humanize==4.11.0
idna==3.10
jmespath==1.0.1
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
psycopg2==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
s3transfer==0.10.3
setuptools==75.2.0
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
whitenoise==6.7.0
