asgiref
astroid
asttokens
black
boto3
botocore
certifi
charset-normalizer
click
cloudinary
colorama
crispy-bootstrap5
decorator
dill
Django~=4.2
django-allauth
django-cloudinary-storage
django-countries
django-crispy-forms
django-humanize
django-storages
executing
gunicorn
humanize
idna
ipython
isort
jedi
jmespath
matplotlib-inline
mccabe
mypy-extensions
packaging
parso
pathspec
pillow
platformdirs
prompt_toolkit
psycopg2
pure_eval
Pygments
pylint
python-dateutil
python-dotenv
requests
s3transfer
setuptools
six
sqlparse
stack-data
stripe
tomlkit
traitlets
typing_extensions
tzdata
urllib3
wcwidth
whitenoise
