<script>

    // Function to handle enabling/disabling of quantity input based on current value
    function handleEnableDisable(itemId) {

        let currentValue = parseInt($(`.id_qty_${itemId}`).val());

        let minusDisabled = currentValue < 2;
   
        let plusDisabled = currentValue >= 99;

    }
    
    // Loop through all quantity input elements and call handleEnableDisable function
    let allQtyInputs = $('.qty_input');
    for (let i = 0; i < allQtyInputs.length; i++) {
        let itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }
    
    // Event listener for quantity input change
    $('.qty_input').change(function () {
        let itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Event listener for quantity input on input event
    $('.qty_input').on('input', function () {
    let itemId = $(this).data('item_id');
    let currentValue = parseInt($(this).val());

    if (currentValue > 99) {
        $(this).val(99);
    }

        handleEnableDisable(itemId);
    });
    
    // Event listener for increment button click
    $('.increment-qty').click(function (e) {
        e.preventDefault();
        let itemId = $(this).data('item_id');

        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];

        let currentValue = parseInt($(closestInput).val());

        if (currentValue < 99) {
            $(closestInput).val(currentValue + 1);
            handleEnableDisable(itemId);
        }
    });
    
    // Event listener for decrement button click
    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        let itemId = $(this).data('item_id');

        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];

        let currentValue = parseInt($(closestInput).val());

        if (currentValue > 1) {
            $(closestInput).val(currentValue - 1);
            handleEnableDisable(itemId);
        }
    });
    </script>