{% load static %}
<!--footer start-->
<footer>
    <div class="footer-wrap footer-sizes">
        <div class="container first_class">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h3>BE THE FIRST TO KNOW</h3>
                    <p>Get all the latest information on Freshly Rooted.
                        Subscribe for our newsletter today.</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <form class="newsletter"
                          action="https://gmail.us15.list-manage.com/subscribe/post?u=e7ba08a26172c2b00089cd131&amp;id=282d38345f&amp;f_id=00539de1f0"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          target="_self" novalidate="">
                        <input type="email" placeholder="Email Address" name="EMAIL" class="required email"
                               id="mce-EMAIL" required="" value="">
                        <button class="newsletter_submit_btn" type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="col-md-12">
                        <div class="standard_social_links">
                            <ul>
                                <li class="round-btn btn-facebook"><a href="https://facebook.com"><i
                                        class="fab fa-facebook-f"></i></a>

                                </li>
                                <li class="round-btn btn-linkedin"><a
                                        href="https://www.linkedin.com/in/kostiantyn-krysenko/"><i
                                        class="fab fa-linkedin-in"
                                        aria-hidden="true"></i></a>

                                </li>
                                <li class="round-btn btn-twitter"><a href="https://x.com"><i class="fab fa-twitter"
                                                                                             aria-hidden="true"></i></a>

                                </li>
                                <li class="round-btn btn-instagram"><a href="https://instagram.com"><i
                                        class="fab fa-instagram"
                                        aria-hidden="true"></i></a>

                                </li>
                                <li class="round-btn btn-envelop"><a href="mailto:freshlyrooted2024@gmail.com"><i
                                        class="fa fa-envelope"
                                        aria-hidden="true"></i></a>

                                </li>
                                <li class="round-btn btn-github"><a href="https://github.com/barkode"><i
                                        class="fa fa-github"
                                        aria-hidden="true"></i></a>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12"><h3 style="text-align: right;">Stay Connected</h3></div>
                </div>
            </div>
        </div>
        <div class="second_class">
            <div class="container second_class_bdr">
                <div class="row">
                    <div class="col-md-4 col-sm-6">

                        <div class="footer-logo"><img src="{% static 'images/logo.png' %}"
                                                      alt="Freshly Rooted logo" height="150" width="150">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <h3>Quick LInks</h3>
                        <ul class="footer-links">
                            <li><a href="{% url 'home:home' %}">Home</a>
                            </li>
                            <li><a href="{% url 'home:contact' %}">Contact</a>
                            </li>
                            <li><a href="{% url 'blog:home' %}">Blog</a>
                            </li>
                            <li><a href="{% url 'home:privacy_policy' %}">Privacy Policy</a>
                            </li>
                            <li><a href="{% url 'home:returns' %}">Return Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3>USER links</h3>
                        <ul class="footer-category">
                            <li><a href="{% url 'account_signup' %}">Register</a>
                            </li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'account_logout' %}">Logout</a>
                                </li>
                            {% else %}
                                <li><a href="{% url 'account_login' %}">Login</a>
                                </li>
                            {% endif %}
                            <li><a href="{% url 'profile:profile' %}">Profile</a>
                            </li>
                            <li><a href="{% url 'cart:view_cart' %}">Cart</a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3>External Links</h3>
                        <ul class="footer-links">
                            <li><a href="https://www.cooksinfo.com/" target="_blank" rel="noreferrer noopener">Cook's
                                Info</a>
                            </li>
                            <li><a href="https://www.gutenberg.org/ebooks/33748" target="_blank"
                                   rel="noreferrer noopener">The Kitchen Encyclopedia</a>
                            </li>
                            <li>
                                <a href="https://www.hse.ie/eng/about/who/healthwellbeing/our-priority-programmes/heal/healthy-eating-guidelines/"
                                   target="_blank"
                                   rel="noreferrer noopener">Healthy Eating Guidelines</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div>
            {# code fromt https://ordinarycoders.com/blog/article/bootstrap-footers#}
            <div class="container-fluid footer">
                <div class="copyright"> Copyright 2024 | NOT FOR COMMERCIAL USE. It was created for educational
                    purposes.
                </div>
            </div>

        </div>
    </div>

</footer>

<!--footer end-->
