{% load static %}

<div class="header-top hidden-xs hidden-sm">
    <div class="container">
        <div class="top-bar left">
            <ul class="horizontal-menu">
                <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>info@freshlyrooted.com</a></li>
            </ul>
            <ul class="social-list circle-layout">
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="top-bar right">
            <ul class="horizontal-menu">
                <li>
                    {% include 'includes/header_currency_block.html' %}
                </li>
                <li>
                    {% include 'includes/header_account_block.html' %}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="header-middle hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-md-6 col-xs-6">
                <a href="{% url 'home:home' %}" class="biolife-logo"><img src="{% static 'images/logo-no-background.png' %}"
                                                                     alt="Freshly Rooted Market" width="135"
                                                                     height="36"></a>
            </div>
            <div class="col-lg-9 col-md-10 padding-top-2px">
                <div class="header-search-bar layout-01 no-product-cat">
                    <form action="{% url 'products:products_search' %}" class="form-search" name="desktop-seacrh" method="get">
                        <input type="text" name="q" class="input-text" value="" placeholder="Search here...">
                        <button type="submit" class="btn-submit"><i class="biolife-icon icon-search"></i></button>
                    </form>
                </div>
                <div class="live-info">
                    <p class="telephone"><i class="fa fa-phone" aria-hidden="true"></i><b class="phone-number">(+900)
                        123 456 7891</b></p>
                    <p class="working-time">Mon-Fri: 8:30am-7:30pm; Sat-Sun: 9:30am-4:30pm</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="header-bottom biolife-sticky-object">
    <div class="container md-possition-relative">
        <div class="row">
            <div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
                <div class="vertical-menu vertical-category-block ">
                    <div class="block-title">
                                    <span class="menu-icon">
                                        <span class="line-1"></span>
                                        <span class="line-2"></span>
                                        <span class="line-3"></span>
                                    </span>
                        <span class="menu-title">All departments</span>
                        <span class="angle" data-tgleclass="fa fa-caret-down"><i class="fa fa-caret-up"
                                                                                 aria-hidden="true"></i></span>
                    </div>
                    <div class="wrap-menu">
                        <ul class="menu clone-main-menu">
                            {% include 'includes/header_vertical_menu_block.html' with header_menu='fruit-nut-gifts' %}
                            {% include 'includes/header_vertical_menu_block.html' with header_menu='vegetables' %}
                            {% include 'includes/header_vertical_menu_block.html' with header_menu='fresh-berries' %}
                            {% include 'includes/header_vertical_menu_block.html' with header_menu='ocean-foods' %}
                            {% include 'includes/header_vertical_menu_block.html' with header_menu='butter-eggs' %}
                            {% include 'includes/header_vertical_menu_block.html' with header_menu='fastfood' %}
                            {% include 'includes/header_vertical_menu_block.html' with header_menu='fresh-meat' %}
                            {% include 'includes/header_vertical_menu_block.html' with header_menu='fresh-onion' %}
                            {% include 'includes/header_vertical_menu_block.html' with header_menu='papaya-crisps' %}
                            {% include 'includes/header_vertical_menu_block.html' with header_menu='oatmeal' %}
                            {% include 'includes/header_vertical_menu_block.html' with header_menu='fresh-bananas-plantains' %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 hidden-sm hidden-xs md-possition-initial">
                <div class="primary-menu">
                    <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu"
                        data-menuname="main menu">
                        {% include 'includes/header_horizontal_menu_block.html' with header_menu='home' %}
                        {% include 'includes/header_horizontal_menu_block.html' with header_menu='all_products' %}
{#                        {% include 'includes/header_horizontal_menu_block.html' with header_menu='shop' %}#}
{#                        {% include 'includes/header_horizontal_menu_block.html' with header_menu='product' %}#}
                        {% include 'includes/header_horizontal_menu_block.html' with header_menu='blog' %}
                        {% include 'includes/header_horizontal_menu_block.html' with header_menu='contact' %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12">
                <div class="logo-for-mobile hidden-lg hidden-md">
                    <a href="{% url 'home:home' %}" class="biolife-logo"><img src="{% static 'images/logo-no-background.png' %}"
                                                                         alt="Freshly Rooted Market" width="135" height="36"></a>
                </div>
                <div class="biolife-cart-info center-align-mobile">
                    <!-- Mobile search -->
                    {% include 'includes/header_mobile_search.html' %}

                    <!-- Minicart block -->
                    {% include 'includes/header_minicart_block.html' %}
                    
                    <!-- Mobile menu toggle -->
                    {% include 'includes/header_mobile_menu_toggle.html' %}
                </div>
            </div>
        </div>
    </div>
</div>