{% load static %}

{% if header_menu|lower == 'fruit-nut-gifts' %}
    <li class="menu-item">
        <a href="{% url 'products:products' %}?category=fruit-nut-gifts" class="menu-title">
            <i class="biolife-icon icon-fruits"></i>
            Fruit &amp; Nut Gifts
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'vegetables' %}
    <li class="menu-item">
        <a href="{% url 'products:products' %}?category=vegetables" class="menu-title">
            <i class="biolife-icon icon-broccoli-1"></i>
            Vegetables
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'fresh-berries' %}
    <li class="menu-item">
        <a href="{% url 'products:products' %}?category=fresh-berries" class="menu-title">
            <i class="biolife-icon icon-grape"></i>
            Fresh Berries
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'ocean-foods' %}
    <li class="menu-item">
        <a href="{% url 'products:products' %}?category=ocean-foods">
            <i class="biolife-icon icon-fish"></i>
            Ocean Foods
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'butter-eggs' %}
    <li class="menu-item">
        <a href="{% url 'products:products' %}?category=butter-eggs" class="menu-title">
            <i class="biolife-icon icon-honey"></i>
            Butter &amp; Eggs
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'fast-food' %}
    <li class="menu-item">
        <a href="{% url 'products:products' %}?category=fast-food" class="menu-title">
            <i class="biolife-icon icon-fast-food"></i>
            Fastfood
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'fresh-meat' %}
    <li class="menu-item">
        <a href="{% url 'products:products'%}?category=fresh-meat" class="menu-title">
            <i class="biolife-icon icon-beef"></i>
            Fresh Meat
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'fresh-onion' %}
    <li class="menu-item">
        <a href="{% url 'products:products'%}?category=fresh-onion" class="menu-title">
            <i class="biolife-icon icon-onions"></i>
            Fresh Onion
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'papaya-crisps' %}
    <li class="menu-item">
        <a href="{% url 'products:products'%}?category=papaya-crisps" class="menu-title">
            <i class="biolife-icon icon-avocado"></i>
            Papaya &amp; Crisps
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'oatmeal' %}
    <li class="menu-item">
        <a href="{% url 'products:products'%}?category=oatmeal" class="menu-title">
            <i class="biolife-icon icon-contain"></i>
            Oatmeal
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'fresh-bananas-plantains' %}
    <li class="menu-item">
        <a href="{% url 'products:products'%}?category=fresh-bananas-plantains" class="menu-title">
            <i class="biolife-icon icon-fresh-juice"></i>
            Fresh Bananas &amp; Plantains
        </a>
    </li>
{% endif %}











