{% load static %}

<div class="mobile-search">
    <a href="javascript:void(0)" class="open-searchbox"><i class="biolife-icon icon-search"></i></a>
    <div class="mobile-search-content">
        <form action="{% url 'products:products' %}}" class="form-search" name="mobile-seacrh" method="get">
            <a href="#" class="btn-close"><span class="biolife-icon icon-close-menu"></span></a>
            <input type="text" name="q" class="input-text" value="" placeholder="Search here...">
            <select name="category">
                <option value="-1" selected>All Categories</option>
                <option value="vegetables">Vegetables</option>
                <option value="fresh_berries">Fresh Berries</option>
                <option value="ocean_foods">Ocean Foods</option>
                <option value="butter_eggs">Butter & Eggs</option>
                <option value="fastfood">Fastfood</option>
                <option value="fresh_meat">Fresh Meat</option>
                <option value="fresh_onion">Fresh Onion</option>
                <option value="papaya_crisps">Papaya & Crisps</option>
                <option value="oatmeal">Oatmeal</option>
            </select>
            <button type="submit" class="btn-submit">go</button>
        </form>
    </div>
</div>