{% load static %}

<div class="minicart-block layout-02">
    <div class="minicart-contain">
        <div class="icon-contain">
            <div class="span-index">
                <i class="icon-cart-mini biolife-icon"></i>
                <span class="sub-total {% if grand_total %}text-info font-weight-bold{% endif %}">
                    {% if grand_total %}
                        {{ product_count }}&nbsp;items&nbsp;-&nbsp;${{ grand_total|floatformat:2 }}
                    {% else %}
                        0 items - $0.00
                    {% endif %}
                </span>
            </div>
            <a href="{% url 'cart:view_cart' %}" class="btn-to-cart">Go</a>
        </div>
    </div>
</div>