{% load static %}

<div class="mobile-search">
    <a href="javascript:void(0)" class="open-searchbox"><i class="biolife-icon icon-search"></i></a>
    <div class="mobile-search-content">
        <form action="{% url 'products:products_search' %}" class="form-search" name="mobile-seacrh" method="get">
            <a href="#" class="btn-close"><span class="biolife-icon icon-close-menu"></span></a>
            <input type="text" name="q" class="input-text" value="" placeholder="Search here...">
            <button type="submit" class="btn-submit">go</button>
        </form>
    </div>
</div>