{% load static %}

{% if header_menu|lower == 'fruit-&-nut-gifts' %}
    <li class="menu-item">
        <a href="#" class="menu-title">
            <i class="biolife-icon icon-fruits"></i>
            Fruit & Nut Gifts
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'vegetables' %}
    <li class="menu-item">
        <a href="#" class="menu-title">
            <i class="biolife-icon icon-broccoli-1"></i>
            Vegetables
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'fresh-berries' %}
    <li class="menu-item">
        <a href="#" class="menu-title">
            <i class="biolife-icon icon-grape"></i>
            Fresh Berries
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'ocean-foods' %}
    <li class="menu-item"><a href="#" class="menu-name" data-title="Ocean Foods"><i
            class="biolife-icon icon-fish"></i>Ocean Foods</a></li>
{% endif %}

{% if header_menu|lower == 'butter-&-eggs' %}
    <li class="menu-item">
        <a href="#" class="menu-title">
            <i class="biolife-icon icon-honey"></i>
            Butter & Eggs
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'fastfood' %}
    <li class="menu-item">
        <a href="#" class="menu-title">
            <i class="biolife-icon icon-fast-food"></i>
            Fastfood
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'fresh-meat' %}
    <li class="menu-item">
        <a href="#" class="menu-title">
            <i class="biolife-icon icon-beef"></i>
            Fresh Meat
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'fresh-onion' %}
    <li class="menu-item">
        <a href="#" class="menu-title">
            <i class="biolife-icon icon-onions"></i>
            Fresh Onion
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'papaya-&-crisps' %}
    <li class="menu-item">
        <a href="#" class="menu-title">
            <i class="biolife-icon icon-avocado"></i>
            Papaya & Crisps
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'oatmeal' %}
    <li class="menu-item">
        <a href="#" class="menu-title">
            <i class="biolife-icon icon-contain"></i>
            Oatmeal
        </a>
    </li>
{% endif %}

{% if header_menu|lower == 'fresh-bananas-&-plantains' %}
    <li class="menu-item">
        <a href="#" class="menu-title">
            <i class="biolife-icon icon-fresh-juice"></i>
            Fresh Bananas & Plantains
        </a>
    </li>
{% endif %}











