{% load static %}

{% if header_menu == 'home' %}
    <li class="menu-item"><a href="{% url 'home:home' %}">Home</a></li>
{% endif %}

{% if header_menu|lower == 'shop' %}
    <li class="menu-item menu-item-has-children has-megamenu">
        <a href="{% url 'products:products' %}" class="menu-name" data-title="Shop">Shop</a>
        <div class="wrap-megamenu lg-width-900 md-full-width">
            <div class="mega-content">
                <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                    <div class="wrap-custom-menu vertical-menu">
                        <h4 class="menu-title">Fresh Berries</h4>
                        <ul class="menu">
                            <li><a href="#">Fruit & Nut Gifts</a></li>
                            <li><a href="#">Mixed Fruits</a></li>
                            <li><a href="#">Oranges</a></li>
                            <li><a href="#">Bananas & Plantains</a></li>
                            <li><a href="#">Fresh Gala Apples</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                    <div class="wrap-custom-menu vertical-menu">
                        <h4 class="menu-title">Vegetables</h4>
                        <ul class="menu">
                            <li><a href="#">Berries</a></li>
                            <li><a href="#">Pears</a></li>
                            <li><a href="#">Chili Peppers</a></li>
                            <li><a href="#">Fresh Avocado</a></li>
                            <li><a href="#">Grapes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                    <div class="wrap-custom-menu vertical-menu ">
                        <h4 class="menu-title">Fresh Fruits</h4>
                        <ul class="menu">
                            <li><a href="#">Basket of apples</a></li>
                            <li><a href="#">Strawberry</a></li>
                            <li><a href="#">Blueberry</a></li>
                            <li><a href="#">Orange</a></li>
                            <li><a href="#">Pineapple</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 md-margin-bottom-0 xs-margin-bottom-25">
                    <div class="wrap-custom-menu vertical-menu">
                        <h4 class="menu-title">Featured Products</h4>
                        <ul class="menu">
                            <li><a href="#">Coffee Creamers</a></li>
                            <li><a href="#">Mayonnaise</a></li>
                            <li><a href="#">Almond Milk</a></li>
                            <li><a href="#">Fruit Jam</a></li>
                            <li><a href="#">Beverages</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endif %}

{% if header_menu|lower == 'product' %}
    <li class="menu-item menu-item-has-children has-child">
        <a href="#" class="menu-name" data-title="Product">Product</a>
        <ul class="sub-menu">
            <li class="menu-item"><a href="#">Omelettes</a></li>
            <li class="menu-item"><a href="#">Breakfast Scrambles</a></li>
            <li class="menu-item menu-item-has-children has-child"><a href="#" class="menu-name"
                                                                      data-title="Eggs & other considerations">Eggs
                & other considerations</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="#">Classic Breakfast</a></li>
                    <li class="menu-item"><a href="#">Huevos Rancheros</a></li>
                    <li class="menu-item"><a href="#">Everything Egg Sandwich</a></li>
                    <li class="menu-item"><a href="#">Egg Sandwich</a></li>
                    <li class="menu-item"><a href="#">Vegan Burrito</a></li>
                    <li class="menu-item"><a href="#">Biscuits and Gravy</a></li>
                    <li class="menu-item"><a href="#">Bacon Avo Egg Sandwich</a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="#">Griddle</a></li>
            <li class="menu-item menu-item-has-children has-child"><a href="#" class="menu-name"
                                                                      data-title="Sides & Extras">Sides
                & Extras</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="#">Breakfast Burrito</a></li>
                    <li class="menu-item"><a href="#">Crab Cake Benedict</a></li>
                    <li class="menu-item"><a href="#">Corned Beef Hash</a></li>
                    <li class="menu-item"><a href="#">Steak & Eggs</a></li>
                    <li class="menu-item"><a href="#">Oatmeal</a></li>
                    <li class="menu-item"><a href="#">Fruit & Yogurt Parfait</a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="#">Biscuits</a></li>
            <li class="menu-item"><a href="#">Seasonal Fruit Plate</a></li>
        </ul>
    </li>
{% endif %}

{% if header_menu|lower == 'blog' %}
    <li class="menu-item menu-item-has-children has-megamenu">
        <a href="#" class="menu-name" data-title="Blog">Blog</a>
        <div class="wrap-megamenu lg-width-800 md-full-width">
            <div class="mega-content">
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <div class="wrap-custom-menu vertical-menu">
                        <h4 class="menu-title">Blog Categories</h4>
                        <ul class="menu">
                            <li><a href="#">Beauty (30)</a></li>
                            <li><a href="#">Fashion (50)</a></li>
                            <li><a href="#">Food (10)</a></li>
                            <li><a href="#">Life Style (60)</a></li>
                            <li><a href="#">Travel (10)</a></li>
                            <li><a href="#">Nutrition (35)</a></li>
                            <li><a href="#">Food Decoration (45)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-6">
                    <div class="wrap-custom-menu vertical-menu">
                        <h4 class="menu-title">Featured Posts</h4>
                        <ul class="menu">
                            <li><a href="#">Post example<sup>#1</sup></a></li>
                            <li><a href="#">Post example<sup>#2</sup></a></li>
                            <li><a href="#">Post example<sup>#3</sup></a></li>
                            <li><a href="#">Post example<sup>#4</sup></a></li>
                            <li><a href="#">Post example<sup>#5</sup></a></li>
                            <li><a href="#">Post example<sup>#6</sup></a></li>
                            <li><a href="#">Post example<sup>#7</sup></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 md-margin-top-0 xs-margin-top-25px">
                    <div class="block-posts">
                        <h4 class="menu-title">Recent Posts</h4>
                        <ul class="posts">
                            <li>
                                <div class="block-post-item">
                                    <div class="thumb"><a href="#"><img
                                            src="{% static 'tmp/assets/images/megamenu/thumb-05.jpg' %}" width="100"
                                            height="73" alt=""></a></div>
                                    <div class="left-info">
                                        <h4 class="post-name"><a href="#">Ashwagandha: The #1 Herb
                                            in the World for Anxiety?</a></h4>
                                        <span class="p-date">Jan 05, 2019</span>
                                        <span class="p-comment">2 Comments</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block-post-item">
                                    <div class="thumb"><a href="#"><img
                                            src="{% static 'tmp/assets/images/megamenu/thumb-06.jpg' %}" width="100"
                                            height="73" alt=""></a></div>
                                    <div class="left-info">
                                        <h4 class="post-name"><a href="#">Ashwagandha: The #1 Herb
                                            in the World for Anxiety?</a></h4>
                                        <span class="p-date">May 15, 2019</span>
                                        <span class="p-comment">8 Comments</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="block-post-item">
                                    <div class="thumb"><a href="#"><img
                                            src="{% static 'tmp/assets/images/megamenu/thumb-07.jpg' %}" width="100"
                                            height="73" alt=""></a></div>
                                    <div class="left-info">
                                        <h4 class="post-name"><a href="#">Ashwagandha: The #1 Herb
                                            in the World for Anxiety?</a></h4>
                                        <span class="p-date">Apr 26, 2019</span>
                                        <span class="p-comment">10 Comments</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
{% endif %}

{% if header_menu|lower == 'contact' %}
    <li class="menu-item"><a href="contact.html">Contact</a></li>
{% endif %}







