<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Home link -->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home:home' %}" id="home-link">
                Home
            </a>
        </li>

        <!-- All Products dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products:products' %}?category=all&sort=price&direction=asc" class="dropdown-item">By
                    Price</a>
                <a href="{% url 'products:products' %}?category=all&sort=rating&direction=desc" class="dropdown-item">By
                    Rating</a>
                <a href="{% url 'products:products' %}?category=all&sort=category&direction=asc" class="dropdown-item">By
                    Category</a>
                <a href="{% url 'products:products' %}?category=fruit-nut-gifts,vegetables,fresh-berries,ocean-foods,butter-eggs,fast-food,fresh-meat,fresh-onion,papaya-crisps,oatmeal,fresh-bananas-plantains"
                   class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- All Departments dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Departments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products:products' %}?category=fruit-nut-gifts" class="dropdown-item">Fruit & Nut
                    Gifts</a>
                <a href="{% url 'products:products' %}?category=vegetables" class="dropdown-item">Vegetables</a>
                <a href="{% url 'products:products' %}?category=fresh-berries" class="dropdown-item">Fresh Berries</a>
                <a href="{% url 'products:products' %}?category=ocean-foods" class="dropdown-item">Ocean Foods</a>
                <a href="{% url 'products:products' %}?category=butter-eggs" class="dropdown-item">Butter & Eggs</a>
                <a href="{% url 'products:products' %}?category=fast-food" class="dropdown-item">Fast Food</a>
                <a href="{% url 'products:products' %}?category=fresh-meat" class="dropdown-item">Fresh Meat</a>
                <a href="{% url 'products:products' %}?category=fresh-onion" class="dropdown-item">Fresh Onion</a>
                <a href="{% url 'products:products' %}?category=papaya-crisps" class="dropdown-item">Papaya & Crisps</a>
                <a href="{% url 'products:products' %}?category=oatmeal" class="dropdown-item">Oatmeal</a>
                <a href="{% url 'products:products' %}?category=fresh-bananas-plantains" class="dropdown-item">Fresh
                    Bananas & Plantains</a>
            </div>
        </li>

        <!-- Blog link -->
        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'blog:home' %}" id="blog-link">
                Blog
            </a>
        </li>

        <!-- Contact link -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'about:contact' %}" class="dropdown-item">Contact</a>
                <a href="{% url 'about:privacy' %}" class="dropdown-item">Privacy Policy</a>
                <a href="{% url 'about:return' %}" class="dropdown-item">Return Policy</a>
            </div>
        </li>


    </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const dropdowns = document.querySelectorAll('.dropdown');

        dropdowns.forEach(dropdown => {
            [ 'mouseenter', 'mouseleave' ].forEach(event => {
                dropdown.addEventListener(event, () => {
                    const dropdownMenu = dropdown.querySelector('.dropdown-menu');
                    const navLink = dropdown.querySelector('.nav-link');

                    dropdownMenu.classList.toggle('show', event === 'mouseenter');
                    navLink.classList.toggle('hover-underline', event === 'mouseenter');
                });
            });
        });
    });
</script>