<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home:home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <div class="row">
                    <div class="col">
                        <h6 class="dropdown-header">Footwear</h6>
                        <a href="{% url 'products' %}?category=mens_trainers&gender=men" class="dropdown-item">Trainers</a>
                    </div>
                    <div class="col">
                        <h6 class="dropdown-header">Accessories</h6>
                        <a href="{% url 'products' %}?category=mens_socks&gender=men" class="dropdown-item">Socks</a>
                        <a href="{% url 'products' %}?category=mens_water_bottles&gender=men" class="dropdown-item">Water Bottles</a>
                        <a href="{% url 'products' %}?category=mens_socks,mens_water_bottles&gender=men" class="dropdown-item">All Accessories</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Womens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <div class="row">
                    <div class="col">
                        <h6 class="dropdown-header">Footwear</h6>
                        <a href="{% url 'products' %}?category=womens_trainers&gender=women" class="dropdown-item">Trainers</a>
                    </div>
                    <div class="col">
                        <h6 class="dropdown-header">Accessories</h6>
                        <a href="{% url 'products' %}?category=womens_socks&gender=women" class="dropdown-item">Socks</a>
                        <a href="{% url 'products' %}?category=womens_water_bottles&gender=women" class="dropdown-item">Water Bottles</a>
                        <a href="{% url 'products' %}?category=womens_socks,womens_water_bottles&gender=women" class="dropdown-item">All Accessories</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0 " aria-labelledby="all-products-link">
                <div class="row">
                    <div class="col">
                        <a href="{% url 'products' %}?brand=mens_new_balance" class="dropdown-item">Mens New Balance</a>
                        <a href="{% url 'products' %}?brand=mens_nike" class="dropdown-item">Mens Nike</a>
                        <a href="{% url 'products' %}?brand=womens_new_balance" class="dropdown-item">Womens New Balance</a>
                        <a href="{% url 'products' %}?brand=womens_nike" class="dropdown-item">Womens Nike</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-danger" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sale
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <div class="row">
                    <div class="col">
                        <h6 class="dropdown-header">Sale</h6>
                        <a href="{% url 'products' %}?category=mens_sale" class="dropdown-item">Mens Sale Items</a>
                        <a href="{% url 'products' %}?category=womens_sale" class="dropdown-item">Womens Sale Items</a>
                        <a href="{% url 'products' %}?category=mens_sale,womens_sale" class="dropdown-item">Shop All Sale Items</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $(this).find('.dropdown-menu').show();
                $(this).find('.nav-link').css('text-decoration', 'underline');
                $(this).find('.nav-link').css('text-decoration-color', 'black');
            },
            function () {
                $(this).find('.dropdown-menu').hide();
                $(this).find('.nav-link').css('text-decoration', 'none');
            }
        );
    });
</script>