{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}{% endblock %}

    {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet">
    {% endblock %}

    {% block core_css %}
        <link rel="stylesheet" href="{% static 'tmp/bs3.4.1/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.compat.min.css' %}">
        <link rel="stylesheet" href="{% static 'tmp/assets/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'tmp/assets/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'tmp/assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}

    {% block extra_css %}{% endblock %}

    {% block core_js %}
    {% endblock %}

    {% block extra_js %}{% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"/>

    <title>Fresh Rooted {% block extra_title %}{% endblock %}</title>
</head>
<body class="biolife-body">

<!-- Preloader -->
{% include 'includes/preload.html' %}

<!-- HEADER -->
<header id="header" class="header-area style-01 layout-01">

    {% block header_top %}{% endblock %}
    {% include 'includes/header.html' %}

</header>

{% if messages %}
    <div class="message-container"></div>
{% endif %}

{% block after_header %}{% endblock %}
<main>
    <div class="page-contain">

        <!-- Main content -->
        <div id="main-content" class="main-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</main>


<!-- FOOTER -->
{% include 'includes/footer.html' %}

<!--Footer For Mobile-->
{% include 'includes/footer_mobile_menu.html' %}

<!--Mobile Global Menu-->
{% include 'includes/footer_mobile_global_menu.html' %}

<!--Newletter Popup-->
{% include 'includes/newletter_popup.html' %}

<!--Quickview Popup-->
{% include 'includes/quickview_popup.html' %}

<!-- Scroll Top Button -->
{% include 'includes/scroll_to_top_btn.html' %}

{% block postload_js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'tmp/bs3.4.1/bootstrap.min.js' %}"></script>
    <script src="{% static 'tmp/assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'tmp/assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'tmp/assets/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'tmp/assets/js/biolife.framework.js' %}"></script>
    <script src="{% static 'tmp/assets/js/functions.js' %}"></script>
{% endblock %}
</body>

</html>