{% load static %}

<div class="page-contain page-404">

    <div id="main-content" class="main-content">
        <div class="container">

            <div class="row">

                <div class="content-404">
                    <h1 class="heading">Nothing found</h1>
                    <h2 class="title">Oops! That product can't be found.</h2>
                    <p>Sorry, but the product you are looking for is not found. Please, make sure you have typed the correct product name.</p>
                    <a class="button" href="{% url 'home:home' %}">Go to Home</a>
                </div>

            </div>

        </div>

    </div>

</div>