{% load static %}

<div id="top-functions-area" class="top-functions-area">
    <!-- Refine -->
    <div class="flt-item to-left">
        <div class="wrap-selectors">
            {% if search_term or current_categories or current_sorting != 'None_None' %}
                <span class="small">Go to <a href="{% url 'products:products' %}">All Products</a> | </span>
            {% endif %}
            {{ products|length }} Products {% if search_term %} found for
            <strong>"{{ search_term }}"</strong>{% endif %}
        </div>
    </div>
    <!-- Sort -->
    <div class="flt-item to-right">
        <span class="flt-title">Sort</span>
        <div class="wrap-selectors">
            <div class="selector-item orderby-selector">
                <form method="get" action="{% url 'products:products' %}">
                    <select name="sort" class="orderby" aria-label="Shop order" onchange="this.form.submit()">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by ...
                        </option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low
                            to high)
                        </option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                            (high to low)
                        </option>
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating
                            (low to high)
                        </option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating
                            (high to low)
                        </option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A to
                            Z)
                        </option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z to
                            A)
                        </option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                            Category (A to Z)
                        </option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                            Category (Z to A)
                        </option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>