{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="page-contain category-page no-sidebar">
        <div class="container">
            <div class="row">

                <!-- Main content -->
                <div id="main-content" class="main-content col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="product-category grid-style">

                        {% include 'includes/top_functional_area.html' %}

                        <div class="row">
                            <ul class="products-list">

                                {% for product in products %}
                                    {% include 'includes/products_product_card.html' with product=product %}
                                {% empty %}
                                    {% include 'includes/products_no_products.html' %}
                                {% endfor %}

                            </ul>
                        </div>

                        {% include 'includes/products_pagination.html' %}

                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}